/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: hsl(0, 0%, 35%);
    --dark-color-alt: hsl(0, 0%, 10%);
    --bg-color: hsl(31, 100%, 70%);
    --primary-background-color: hsl(0, 0%, 99%);
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --border-color: hsl(0, 0%, 94%);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --font-medium: 500;
    --font-bold: 700;
    --gap: 2rem;
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
     /* font-size: 10px; */
     font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}
 
input, button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}

/* Theme Color Change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-light-color: #252830;
    --transparent-dark-color: rgba(0,0,0,.1);
}

/* Reusable classes */
.container {
    max-width: 1024px;
    margin: 0 1.5rem;
    padding: 0 1.5rem;
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section {
    padding: 6.5rem 0 1rem;
}

.section__title {
    position: relative;
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-md);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section__title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 2px;
    background-color: var(--bg-color);
}

.btn {
    cursor: pointer;
}

.grid {
    display: grid;
}

/* Header */
.header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.nav__toggle {
    display: inline-flex;
    align-items: center;
    letter-spacing: 2px;
    gap: .8rem;
    color: var(--dark-color-alt);
}

.nav__logo {
    font-size: var(--font-size-md);
    color: var(--dark-color-alt);
}

@media screen and (max-width: 767px) {
    .nav__menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            padding: 6rem 2rem 3.5rem;
            background-color: var(--primary-background-color);
            /* transform: scale(0); */
            transition: .5s;
        }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    
}
.nav__link {
    text-transform: uppercase;
    font-size: var(--font-size-md);
}

.nav__link.current{
    color: hsl(0, 0%, 80%);;
}

.nav__close {
    font-size: var(--font-size-lg);
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
}

.show-menu {
    left: 0;
}

.scroll-header { 
    background-color: hsl(0, 0%, 99%);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
    transition: .3s;
}


.nav__btn {
    display: inline-flex;
    color: var(--dark-color-alt);
    gap: 1.1rem;
}

.nav__item:hover,
.btn:hover, 
.btn:hover span {
    color: var(--light-color);
}

.moon-icon {
    display: none;
}

.home__container{
    position: relative;
    row-gap: 2.5rem;
}

.home__img-bg {
    background-color: hsl(31, 100%, 70%);
    width: 248px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(3rem);
}

.home__img {
    transform: rotate(100deg);
}

.home__social {
    position: absolute;
    top: 25%;
    left: -3rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}

.home__social-link {
    font-size: 1.2rem;
    transition: .3s;
}

.home__social-link:hover {
    color: #5e5f63;
}

.home__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.home__description {
    margin-bottom: 1.5rem;
}

.home__price {
    display: inline-block;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    color: hsl(31, 100%, 70%);
}

.home__button {
    box-shadow: 0 12px 24px hsla(0, 0%, 10%, .2);
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #fff;
    padding: 1.25rem 2rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: hsl(0, 0%, 25%);
}

.button--gray {
    background-color: hsl(0, 0%, 75%);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1rem 1.5rem;
}


.featured__container {
    row-gap: 2.5rem;
}

.featured__card {
    position: relative;
    text-align: center;
    background-color: var(--light-color);
    margin: 0 1.7rem;
    padding-top: 4rem;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: .3s;
}

.featured__tag {
    position: absolute;
    background-color: var(--bg-color);
    padding: .5rem 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    font-weight: var(--font-medium);
    transform: rotate(-90deg);
    left: -1rem;
    top: 3rem;
}

.featured__img {
    height: 280px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: var(--margin-sm);
}

.featured__title,
.featured__price {
    font-size: var(--font-size-sm);
    font-weight: var(--font-bold);
}

.featured__title {
    text-transform: uppercase;
    margin-bottom: var(--margin-md);
}

.featured__price {
    display: block;
    color: var(--bg-color);
    transition: .3s;
}

.featured__button {
    font-size: var(--font-size-sm);
    transform: translateY(1rem);
    opacity: 0;
}

.featured__card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.featured__card:hover .featured__button {
    transform: translateY(0);
    opacity: 1;
}

.featured__card:hover .featured__price {
    margin-bottom: var(--margin-md);
}

.story__container {
    row-gap: 7.5rem;
}

.story__title, 
.story__description {
    margin-bottom: var(--margin-lg);
}

.story__button {
    font-size: var(--font-size-xsm);
}

.story__images {
    position: relative;
}

.story__square {
   width: 250px;
   height: 250px;
   background-color: var(--bg-color); 
}

.story__img {
    width: 280px;
    height: 240px;
    position: absolute;
    left: 3rem;
    top: -3rem;
}

.product__container {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-md);
    margin: 0 var(--margin-sm);
}

.product__card {
    position: relative;
    background-color: var(--light-color);
    text-align: center;
    padding: 5rem 0;
    border: 1px solid var(--border-color);
    transition: .3s;
}

.product__img {
    height: 125px;
    margin: var(--margin-sm) auto;
}

.product__title,
.product__price {
    font-size: 1.4rem;
}

.product__title {
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}

.product__price {
    color: var(--bg-color);
    font-weight: var(--font-bold);
}

.product__button {
    position: absolute;
    background-color: var(--button-color);
    color: var(--light-color);
    padding: .5rem;
    font-size: .5rem;
    right: 0;
    bottom: 0;
    transition: .3s;
}

.product__button:hover {
    background-color: var(--button-color-alt);
}

.product__card:hover {
    box-shadow: 0px 8px 32px hsla(0, 0%, 10%, .1)
}

.testimonial__card {
    margin-bottom: var(--margin-md);
}

.testimonial__quote {
    margin-bottom: var(--margin-md);
    background-color: var(--light-color);
    display: inline-flex;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    color: var(--bg-color);
    box-shadow: 0px 4px 12px hsla(0, 0%, 20%, .1);
}

.testimonial__description {
    margin-bottom: var(--margin-sm);
}

.testimonial__date {
    margin-bottom: var(--margin-lg);
}

.testimonial__data {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.testimonial__data-img {
    width: 60px;
    height: 60px;
    border-radius: 3rem;
    object-fit: cover;
}

.testimonial__details-name {
    font-size: var(--font-size-sm);
}

.testimonial__details-job {
    font-size: var(--font-size-xsm);
}

.testimonial__image {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-lg);
    position: relative;
}

.testimonial__img {
    height: 270px;
    width: 270px;
    position: absolute;
    top: 3rem;
    right: 2rem;
}

.testimonial__square {
    height: 250px;
    background-color: var(--bg-color);
    width: 250px;
    margin-left: auto;
}

/* .testimonial-swiper {
    overflow-x: hidden;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    top: initial;
     bottom: 5%;
} */

.new__card {
    position: relative;
    text-align: center;
    background-color: var(--light-color);
    margin: 3rem 1.7rem;
    padding-top: 4rem;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: .3s;
}

.new__tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--bg-color);
    color: var(--light-color);
    padding: .5rem 1rem;
    font-size: var(--font-size-sm);
    font-weight: var(--font-medium);
}

.new__img {
    margin: 2rem 0;
}

.new__title {
    text-transform: uppercase;
    letter-spacing: -1px;
}

.new__price {
    font-weight: var(--font-bold);
    color: var(--bg-color);
}

.new__button {
    font-size: var(--font-size-sm);
    transform: translateY(1rem);
    opacity: 0;
}

.new__card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
    background-color: var(--bg-color);
}

.new__card:hover .new__tag {
    background-color: var(--button-color);
}

.new__card:hover .new__button {
    transform: translateY(0);
    opacity: 1;
}

.new__card:hover .new__title {
    color: hsl(0, 0%, 15%);
}

.new__card:hover .new__price {
    color: hsl(0, 0%, 15%);
    margin-bottom: var(--margin-md);
}

.new__card:hover .new__price {
    margin-bottom: var(--margin-lg);
}

.newsletter__bg {
    background-color: var(--bg-color);
    padding: 3rem 3rem;
    text-align: center;
    row-gap: 2.5rem;
}

.newsletter__title {
    font-size: var(--font-size-lg);
    color: hsl(0, 0%, 15%);
    margin-bottom: var(--margin-md);
}

.newsletter__description {
    color: hsl(0, 0%, 35%);
}

.newsletter__subscribe {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.newsletter__input {
    background-color: hsl(0, 0%, 94%);
    padding: 1.25rem 1rem;
    color: hsl(0, 0%, 15%);
}